* {
    box-sizing: border-box;
}

body {
    background-image: url(forrasok/fooldal_forrasok/torino.png);
    background-size: 100%;
    width: 80%;
    max-width: 1200px;
    margin: auto;
    font-family: sans-serif;
}


a {
     color: rgb(245, 220, 1);
    text-decoration: none;
    
}
nav{
    text-align: center;

}
img{
    width: 100%;
    border-radius: 10px;
}
#Egész{
    width: 100%;
    background-color: aquamarine;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

@media screen and (max-width:600px){
    
}